a {
    text-decoration: none;
}

.news h3 {
    text-align: center;
}

body {
    background: #c4c4c4;
}

.foto-item {
    display: flex;
    margin: 30px auto;
    background: white;
    box-shadow: 0 0 20px 0 black;
    width: 95%;
    border-radius: 5px;
    color: black;
    font-size: 12px;
}

.foto-item img {
    width: 220px;
    height: 140px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.title {
    margin: 15px;
    position: relative;
    top: 19px;
}